.django_logo {
    font-family: 'Raleway', sans-serif;
}
.django_footer_button {
    font-size: .6rem;
}

.django_footer {
    text-align: center;
    margin-top: 2rem;
}

.django_header {
    text-align: center;
    margin: 2rem 0;
}